body{
	font-family: 'Poppins', sans-serif;
}

.fill{
	position: relative;
	width: 100%;
	height: 80%;
	background-image: url('/img/jake_with_car.jpg');
	background-size: cover;
	position: absolute;
	z-index: -1;
}
.transparency{
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.5;
}





@media (min-width: 1200px){
	.container {
	    width: 1170px;
	    margin: 0 auto;
	}
}